<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'settlements', 'data-turbolinks-track': 'reload' %>
<% end %>

<div>
  <settlements :initial_settlements="<%= @settlements.to_json %>"></settlements>
</div>