<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'settlements', 'data-turbolinks-track': 'reload' %>
<% end %>

<div>
  Welcome to Settlements! (static)
  <settlements></settlements>
</div>