<div class="header">
  <div class="top_bar">
    <div class="account_options">
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </div>
    <h1>Turnip</h1>
  </div>
</div>
